p.error_message {
  color: #f70d0d;
  font-weight: 600;
  margin: 10px 5px;
  letter-spacing: 1px;
}
.modal_close_btn {
  position: absolute;
  right: -16px;
  display: flex;
  padding-right: 20px;
  cursor: pointer;
  top: -10px;
  background: #f0610e;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  padding: 12px;
  color: #ffff;
  font-size: 18px;
  box-shadow: 1px 2px 30px grey;
}
/* .modal_close_btn .close_icon {
  margin: -1px;
  margin-left: 1px;
  margin-top: -2px;
} */